
/*
#btnCar {
	background-color: yellow;
	height: 50px;
	width:50px;
	position: absolute;
}
#btnCopCar {
	background-color: purple;
	height: 50px;
	width:50px;
	position: absolute;
    
}
#btnMotorcycle {
	background-color: lightseagreen;
	height: 50px;
	width:50px;
	position: absolute;
    top: 110px;
}
	
#btnTank {
	background-color: darkred;
	height: 50px;
	width:50px;
	position: absolute;
    top: 160px;
}

*/
#container {
	height: 250px;
	background-color: pink;
	border-bottom: 10px solid black;
	text-align: center;
}
.Car {
	background-color: greenyellow;
	height: 50px;
	width:50px;
	position: absolute;
	top: 250px;
	left: 500px;
}

.CopCar {
	background-color: darkorchid;
	height: 50px;
	width:50px;
	position: absolute;
	top: 100px;
}

.Motorcycle {
	background-color: aqua;
	height: 50px;
	width:50px;
	position: absolute;
}

.Tank {
	background-color: darkgrey;
	height: 200px;
	width: 200px;
	position: absolute;
}
